Repository archubbuck/cli-ops: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/validate-command-structure.js

fix: repair devcontainer.json and add installation guide
  .devcontainer/devcontainer.json
  INSTALL-GUIDE.md
Due: prettier --write

up
  .github/workflows/ci.yml
  .husky/pre-commit
  INVENTORY-SYSTEM.md
  apps/README.md
  docs/README.md
  package.json
  scripts/README.md
  scripts/generate-inventory.js
  scripts/update-architecture-docs.js
  scripts/validate-inventory.js
  turbo.json
Due: eslint --fix, prettier --write

up
  .cspell.json
  INVENTORY-SYSTEM.md
  package.json
Due: prettier --write

fix: Update @oclif/test to correct version ^4.1.15
  packages/shared-testing/package.json
Due: prettier --write

docs: consolidate setup documentation and remove artifacts
  INSTALL-GUIDE.md
  README.md
  SETUP-COMPLETE.md
  docs/CONTRIBUTING.md
  prompt
Due: prettier --write

feat: add Changesets workflow documentation
  .github/COMPLETION-CHECKLIST.md
  .github/ISSUES.md
  docs/adr/001-turborepo-for-monorepo-builds.md
  docs/adr/002-changesets-for-versioning.md
  docs/adr/003-unified-configuration-management.md
  docs/adr/004-structured-logging-architecture.md
  docs/adr/005-adhd-ocd-friendly-ux-patterns.md
  docs/adr/006-performance-budgets-and-monitoring.md
  docs/adr/007-command-history-and-undo-system.md
  docs/adr/008-cross-cli-communication.md
  docs/architecture/configuration.md
  docs/architecture/cross-cli-communication.md
  docs/architecture/dependency-graph.md
  docs/architecture/logging.md
  docs/architecture/monorepo-structure.md
  docs/architecture/overview.md
  docs/architecture/performance.md
  docs/architecture/ux-patterns.md
  docs/contributing/adhd-ocd-guidelines.md
  docs/contributing/changesets-workflow.md
  docs/contributing/creating-new-cli.md
  docs/contributing/getting-started.md
  docs/contributing/testing-strategy.md
Due: prettier --write

chore: remove obsolete gamma fish completion file
  completions/gamma.fish
Due: none

chore: remove obsolete gamma bash completion file
  completions/gamma.bash
Due: none

chore: remove obsolete beta fish completion file
  completions/beta.fish
Due: none

chore: remove obsolete beta bash completion file
  completions/beta.bash
Due: none

chore: remove obsolete alpha bash completion file
  completions/alpha.bash
Due: none

chore: remove obsolete beta CLI completion file
  completions/_beta
Due: none

chore: remove obsolete alpha CLI completion file
  completions/_alpha
Due: none

chore: remove remaining obsolete alpha/gamma completion files
  completions/_gamma
Due: none

chore: remove obsolete alpha fish completion file
  completions/alpha.fish
Due: none

chore: Remove husky script initialization from commit-msg and pre-commit hooks
  .husky/commit-msg
  .husky/pre-commit
  docs/CLI-INVENTORY.md
  inventory/inventory-v1.0.0.json
  inventory/latest.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,js}
  prettier --write: ((any of: *.{ts,js}) or (any of: *.{json,yml,yaml})) or (any of: *.md)
  node scripts/validate-command-structure.js: any of: src/commands/**/*.ts
